.header_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px;
    background-color: black;
    padding: 0px 15px;
}

.header_buttons{
    padding: 10px 40px;
    background-color: rgb(248, 46, 46);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: inset rgb(0, 0, 0) 0px 0px 10px;
    box-shadow: rgb(255, 0, 0) 0px 0px 0px 0px;
}

.header_buttons:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 0, 0) 0px 0px 100px 10px;
}

.header_logo{
    height: 100px;
    transition: 0.5s;
}

.header_logo:hover{
    filter: brightness(50%);
}

.basket_button{
    background-color: rgb(248, 46, 46);
    border-radius: 50px;
    transition: 0.3s;
}

.basket_btn_ico{
    height: 80px;
    cursor: pointer;
}

.basket_button:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 0, 0) 0px 0px 100px 10px;
}