.header_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.503);
    padding: 0px 15px;
    position: fixed;
    z-index: 998;
    width: 100vw;
    padding-top: 30px;
}

.when_header_fixed{
    position: absolute;
    top: 0;
    left: 50%;
    opacity: 0%;
}

.header_buttons{
    padding: 10px 40px;
    background-color: rgb(248, 46, 46);
    border: none;
    border-radius: 10px;
    font-weight: bold;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

.header_buttons:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 0, 0) 0px 0px 100px 10px;
}

.header_logo{
    height: 100px;
    transition: 0.5s;
}

.header_logo:hover{
    filter: brightness(0.8);
}

.basket_button{
    background-color: rgb(248, 46, 46);
    border-radius: 50px;
    transition: 0.3s;
    border: none;
    cursor: pointer;
}

.basket_btn_ico{
    height: 80px;
    cursor: pointer;
}

.basket_button:hover{
    background-color: rgb(255, 255, 255);
    box-shadow: rgb(255, 0, 0) 0px 0px 100px 10px;
}


@keyframes akatsuki_rotate {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(10deg);

    }
    100%{
        transform: rotate(-10deg);
    }
}

.button_up{
    height: 80px;
    width: 80px;
    position: fixed;
    background-color: rgb(248, 46, 46);
    border-radius: 50%;
    left: 90%;
    top: 85%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    text-decoration: none;
    box-shadow: inset black 0px 0px 10px 1px;
}

.arrow{
    border-radius: 50%;
    color: white;
    margin: 0;
    font-size: 40px;
    transition: 0.3s;
    text-shadow: black 1px 0px 5px;
}

.button_up:hover{
    background-color: white;
    box-shadow: rgb(255, 0, 0) 0px 0px 100px 10px;
    animation: akatsuki_rotate 0.5s infinite;
}

.button_up:hover .arrow {
    color: black;
}
