.footer_container{
    margin: 0;
    /* background-color: black; */
}

.powered_p{
    text-align: center;
    margin: 0;
    color: rgb(72, 72, 72);
    padding-bottom: 20px;
}

.powered_p:focus{
    opacity: 0;
}

.video_smoke{
    position: fixed;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
    filter: brightness(30%);
}