
.main_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
    padding-top: 200px;
    width: 100%;
}

.container_with_products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

.product_container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 30px;
    transition: 0.5s;
    border-radius: 12px;
    background: rgba(255, 28, 28, 0.1);
    box-shadow: inset 4px 4px 220px rgba(189, 55, 68, 0.25), inset 4px 4px 52px rgba(182, 13, 13, 0.25);
    position: relative;
}

.product_container:hover{
    /*background: rgba(255, 0, 0, 0.18);*/
    box-shadow: inset 4px 4px 220px rgba(253, 9, 36, 0.4), inset 4px 4px 52px rgba(197, 38, 38, 0.42);
}

.main-container_product_image{
    height: 400px;
    width: auto;
    transition: 0.5s;
}

.product_container:hover .product_image{
    transform: scale(105%);
}

.product_container_info{
    background-color: rgba(255, 255, 255, 0.71);
    height: 0;
    width: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    opacity: 0%;
    transition: 0.3s;
}

.product_container:hover .product_container_info{
    opacity: 100%;
    height: 100%;
}

.product_name{
    color: black;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    margin: 0;
    transform: scale(0);
    transition: 0.3s;
}

.product_price{
    color: black;
    font-weight: bold;
    font-size: 55px;
    text-align: center;
    margin: 0;
    transform: scale(0);
    transition: 0.3s;
}

.add_to_backet{
    background-image: linear-gradient(90deg,#ff0000,#ffffff,#ff0000,#ff0000,#ffffff);
    background-size: 400% 100%;
    border: none;
    font-size: 20px;
    border-radius: 50px;
    transition: 0.5s;
    transform: scale(0);
    color: white;
    cursor: pointer;
    padding: 5%;
    /*position: absolute;*/
    /*top: 80%;*/
    /*padding: 20px;*/
}

.add_to_backet:hover {
    animation: animateBg 2s linear infinite;
}

@keyframes animateBg {
    0% { background-position: 100% 0%; }
    100% { background-position: 0% 0%; }
}

.product_container:hover .add_to_backet{
    transform: scale(1);
}

.product_container:hover .product_name{
    transform: scale(1);
}

.product_container:hover .product_price{
    transform: scale(1);
}

.click{
    animation-name: clickOnButton;
    animation-duration: 1s;
}

@keyframes clickOnButton {
    0%{
        background-color: rgb(248, 46, 46);
    }
    50%{
        background-color: white;
        color: black;
    }
    100%{
        background-color: rgb(248, 46, 46);
    }
}

.module_added{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    padding: 0px 20px;
    display: none;
}

.show_added{
    display: block;
}


.foo{
    
}