
.main_container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
    padding-top: 200px;
    width: 100%;
}

.container_with_products{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    width: 100%;
}

.product_container{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
    margin: 30px;
    transition: 0.5s;
    border-radius: 12px;
    background: rgba(255, 28, 28, 0.1);
    box-shadow: inset 4px 4px 220px rgba(189, 55, 68, 0.25), inset 4px 4px 52px rgba(182, 13, 13, 0.25);
    position: relative;
}

.product_container:hover{
    /*background: rgba(255, 0, 0, 0.18);*/
    box-shadow: inset 4px 4px 220px rgba(253, 9, 36, 0.4), inset 4px 4px 52px rgba(197, 38, 38, 0.42);
}

.product_image{
height: 400px;
transition: 0.5s;
}

.product_container:hover .product_image{
    transform: scale(105%);
}

.product_name{
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin: auto;
    text-align: center;
    display: none;
}

.product_price{
    color: black;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
    text-align: center;
    display: none;

}

.add_to_backet{
    background-color: rgba(248, 46, 46, 0.84);
    border: none;
    font-size: 20px;
    border-radius: 50px;
    transition: 0.5s;
    transform: scale(0);
    color: white;
    cursor: pointer;
    position: absolute;
    top: 80%;
    padding: 20px;
}

.product_container:hover .add_to_backet{
    transform: scale(1);
}

.click{
    animation-name: clickOnButton;
    animation-duration: 1s;
}

@keyframes clickOnButton {
    0%{
        background-color: rgb(248, 46, 46);
    }
    50%{
        background-color: white;
        color: black;
    }
    100%{
        background-color: rgb(248, 46, 46);
    }
}

.module_added{
    background-color: white;
    position: fixed;
    bottom: 0;
    left: 0;
    border-radius: 20px;
    padding: 0px 20px;
    display: none;
}

.show_added{
    display: block;
}
