
.main_container{
    /* background-color: black; */
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.container_with_products{
    display: grid;
    grid-template-columns: 900px;
}

.product_container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(248, 46, 46);
    border: 10px solid rgb(248, 46, 46);
    border-radius: 20px 100px;    
    transition: 0.5s;
    cursor: pointer;
    overflow: hidden;
    margin: 30px;
}

.product_container:hover{
    background-color: white;
    box-shadow: rgb(255, 0, 0) 0px 0px 100px 10px;
    padding: 0px 100px;
}

.product_container:hover .product_image{
    filter: brightness(115%);
    transform: scale(110%);
    
}

.product_image{
    height: 290px;
    filter: brightness(80%);
    transition: 0.3s;
}

.product_name{
    color: black;
    font-weight: 700;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.product_price{
    color: black;
    font-weight: bold;
    font-size: 55px;
    margin: 0;
    text-align: center;
}


