.main_block{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: url("./BackgroundImage/mainBg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

h1{
  font-size: 50px;
  color: #ffffff;
  margin: 3.5%;
}

.main_block_links{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.link{
  text-decoration: none;
  font-size: 0px;
  margin: 10px 170px;
  padding: 10px 25px;
  text-align: center;
  transition: 0.5s;
  border-radius: 30px;
  transition: 0.5s;
  margin: 0;
  position: fixed;
  box-shadow: inset rgba(0, 0, 0, 0.44) 0 0 5px;
}

.link:hover{
  box-shadow: inset rgba(0, 0, 0, 0.29) 0 0 5px;
}

.store{
  background-color: #e32727;
  color: #e32727;
  transform: rotate(-50deg);
  top: 60.8%;
  left: 38%;
  /*animation: breathRed 3s linear infinite;*/
}

.api{
  background-color: #3683ec;
  color: #3683ec;
  transform: rotate(40deg);
  top: 61%;
  left: 58%;
  /*animation: breathBlue 1s linear infinite;*/
}

.store:hover{
  left: 36%;
  top: 60.5%;
  color: white;
  font-size: 20px;
  transform: rotate(0deg);
}


.api:hover{
  left: 58%;
  top: 61%;
  color: white;
  font-size: 20px;
  transform: rotate(0deg);
}

@keyframes breathRed {
  0%{
    background-color: #e32727
  }
  35%{
    background-color: #fa9b9b
  }
  65%{
    background-color: #fa9b9b
  }
  100%{
    background-color: #e32727
  }
}

@keyframes breathBlue {
  0%{
    background-color: #3683ec;
  }
  35%{
    background-color: #80b3fc;
  }
  65%{
    background-color: #80b3fc;
  }
  100%{
    background-color: #3683ec;
  }
}